<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reading Journal</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

  <header>
    <nav>
      <ul class="nav-links">
        <li><a href="/journals/1">Home</a></li>
        <li><a href="/journals">Dashboard</a></li>
        <li><a href="/journals">My Profile</a></li>
      </ul>
    </nav>
  </header>

</body>
</html>