<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reading Journal</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

  <%- include('partials/navbar') %>

  <div>
    <h1>Highlight Today</h1>
  </div>

  <p><%= data %></p>

  <div class="journal-info">
    <p><b><%= data.title %></b></p>
    <ul class="journal-list">
      <% for(let key in data) { %>
        <% if(data.hasOwnProperty(key)) { %>
          <li><%= data[key] %></li>
        <% } %>
      <% } %>
    </ul>
  </div>
</body>